<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div *ngFor="let artist of artists" fxFlex="20" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row"
        style="padding: 5px;" (click)="artistClickHandler(artist)">
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
            class="example-card">
            <mat-grid-list cols="2">
                <div fxLayout="row">
                    <div mat-card-avatar class="example-header-image"></div>
                    <div class="artist-card-content">
                        <mat-card-title>{{artist.name}}</mat-card-title>
                        <mat-card-subtitle>{{artist.facebook_page_url}}</mat-card-subtitle>
                    </div>
                </div>
            </mat-grid-list>
        </mat-card>
    </div>
</div>