<div class="page-header">
  <button mat-icon-button color="white" >
    <mat-icon>home</mat-icon>
  </button>
  <h2>Artist App</h2>
  <button mat-icon-button color="white" >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="artist-search">
<mat-form-field appearance="outline">
    <input matInput type="search" #artistSearchInput placeholder="Search Artists">
    <!-- <button mat-button matPrefix mat-icon-button> -->
        <mat-icon matSuffix>search</mat-icon>
      <!-- </button> -->
</mat-form-field>
</div>