<div><button mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon>Back to results</button></div>

<p></p>

<mat-card class="example-card" style="width: 33.3%;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Adeel Arshad</mat-card-title>
        <mat-card-subtitle>sdfasfdasdfasd</mat-card-subtitle>
    </mat-card-header>
</mat-card>
<p></p> 
<div><button mat-icon-button>8 upcoming events</button></div>
<p></p>

<div class="cards-container" fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutAlign="flex-start">
    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>
    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>

    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>

    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>

    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>

    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>

    <div class="single-cards"  fxFlex.lg="32"  fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="row" style="margin: 5px;" >
        <mat-card class="example-card" style="width: 100%;">
            <mat-card-header>
                <mat-card-title>Event Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="detail-item">
                    <h2>Country</h2>
                    <h4>Pakistan</h4>
                </div>
                <div class="detail-item">
                    <h2>City</h2>
                    <h4>Lahore</h4>
                </div>
                <div class="detail-item">
                    <h2>Venue</h2>
                    <h4>Avari Hotel</h4>
                </div>
                <div class="detail-item">
                    <h2>Date</h2>
                    <h4>23 Sep, 2019</h4>
                </div>
              </mat-card-content>
          </mat-card>
    </div>



</div>